@model Tuple<List<WebDashboard.Models.LoadBudget>, List<WebDashboard.Models.LoadBudgetYears>, List<WebDashboard.Models.LoadBudgetType>>


<html>
<head>

</head>

<body>
    <select id="Select1">
        <option></option>

    </select>
</body>

</html>